.prod_row{
    transition: .1s;
 }
 .prod_row:hover {
    background-color: rgb(237, 248, 252);
    outline: 1px solid rgb(201, 201, 201);
    border-radius: 4px;
    transform: scale(1.01);
    box-shadow: 5px 0px 10px 10px rgb(196, 240, 255);
 }
.new-less-products{
    background-color: rgb(233, 248, 165);
}
