* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.main-container {
   min-height: 80vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

input[type='checkbox'] {
   -webkit-appearance: none;
   visibility: hidden;
   display: none;
}

.check {
   position: relative;
   display: block;
   width: 40px;
   height: 20px;
   background: rgba(36, 59, 85, 0.9);
   cursor: pointer;
   border-radius: 20px;
   overflow: hidden;
   transition: 0.5s ease-in-out;
}

input[type='checkbox']:checked ~ .check {
   background-color: #fff;
   box-shadow: 0 0 0 100vw rgba(36, 59, 85, 0.9);
}

.check::before {
   content: '';
   position: absolute;
   top: 2px;
   left: 2px;
   background: #fff;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   transition: 0.5s;
}

input[type='checkbox']:checked ~ .check::before {
   transform: translateX(-50px);
}

.check::after {
   content: '';
   position: absolute;
   top: 2px;
   right: 2px;
   background: rgba(36, 59, 85, 0.9);
   width: 16px;
   height: 16px;
   border-radius: 50%;
   transition: 0.5s;
   transform: translateX(50px);
}

input[type='checkbox']:checked ~ .check::after {
   transform: translateX(0px);
}

.register-container,
.right-panel-active {
   position: relative;
   width: 850px;
   height: 500px;
   background-color: #fff;
   box-shadow: 25px 30px 55px #5557;
   border-radius: 13px;
   overflow: hidden;
}

.form-container {
   position: absolute;
   width: 60%;
   height: 100%;
   padding: 0 40px;
   transition: all 0.6s ease-in-out;
}

.sign-up-container {
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   z-index: 1;
}

.sign-in-container {
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 2;
}

.sign-in-container form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sign-up-container form {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0 50px;
}

.form-container h1,
.overlay-container h1 {
   color: #141e30;
}

.infield {
   position: relative;
   margin: 8px 0;
   width: 100%;
}

.infield input {
   width: 100%;
   padding: 12px 15px;
   background-color: #f3f3f3;
   border: none;
   color: #141e30;
}

.infield label {
   position: absolute;
   left: 50%;
   top: 100%;
   transform: translateX(-50%);
   width: 0%;
   height: 2px;
   background: linear-gradient(to right, #141e30, #243b55);
   transition: 0.3s;
}

.infield input:focus ~ label {
   width: 100%;
}

.form-container button,
.overlay-container button {
   border-radius: 20px;
   border: 1px solid #141e30;
   background-color: #243b55;
   color: #eee;
   font-size: 12px;
   font-weight: bold;
   padding: 12px 45px;
   letter-spacing: 1px;
   text-transform: uppercase;
   margin-top: 12px;
   transition: 80ms ease-in;
}

.form-container button:hover,
.overlay-container button:hover {
   background: #fff;
   color: #141e30;
}

.overlay-container {
   position: absolute;
   top: 0;
   left: 60%;
   width: 40%;
   height: 100%;
   overflow: hidden;
   transition: transform 0.6s ease-in-out;
   z-index: 9;
}

#overlayBtn {
   cursor: pointer;
   position: absolute;
   left: 50%;
   top: 296px;
   transform: translateX(-50%);
   width: 143.67px;
   height: 40px;
   border: 1px solid #fff;
   background: transparent;
   border-radius: 20px;
}

.overlay {
   position: relative;
   background-color: #243b55;
   color: #fff;
   left: -150%;
   height: 100%;
   width: 250%;
   transition: transform 0.6s ease-in-out;
}

.overlay-panel {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0 40px;
   text-align: center;
   height: 100%;
   width: 340px;
   transition: 0.6s ease-in-out;
}

.overlay-left {
   right: 60%;
   transform: translateX(-12%);
}

.overlay-right {
   right: 0;
   transform: translateX(0%);
}

.overlay-panel h1 {
   color: #fff;
}

.overlay-panel p {
   font-size: 14px;
   font-weight: 300;
   line-height: 20px;
   letter-spacing: 0.5px;
   margin: 25px 0 35px;
}

.overlay-panel button {
   border: none;
   background-color: transparent;
}

.right-panel-active .overlay-container {
   transform: translateX(-150%);
}

.right-panel-active .overlay {
   transform: translateX(50%);
}

.right-panel-active .overlay-left {
   transform: translateX(25%);
}

.right-panel-active .overlay-right {
   transform: translateX(35%);
}

.right-panel-active .sign-in-container {
   transform: translateX(20%);
   opacity: 0;
}

.right-panel-active .sign-up-container {
   transform: translateX(66.7%);
   opacity: 1;
   z-index: 5;
   animation: show 0.6s;
}

@keyframes show {
   0%,
   50% {
      opacity: 0;
      z-index: 1;
   }

   50.1%,
   100% {
      opacity: 1;
      z-index: 5;
   }
}
